@model HTMLhelpers.Models.Formulario
    @using HTMLhelpers.Models
@{
    ViewBag.Title = "Nuevo";
}

<h2>Opción de Crear</h2>

<style>

</style>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Formulario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.cedula,"Cedula:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="cedula">
                @Html.EditorFor(model => model.cedula, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cedula, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombre,"Nombre:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="nombre">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.apellido,"Apellido:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="apellido">
                @Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.apellido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.edad,"Edad:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="edad">
                @Html.EditorFor(model => model.edad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.edad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.telefono,"Telefono:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="telefono">
                @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Correo,"Correo:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="correo">
                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.genero,"Genero:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="dropdown">
               @Html.DropDownListFor(model=>model.genero, 
               new SelectList(Enum.GetValues(typeof(generos))),
               "Seleccione...")
                @Html.ValidationMessageFor(model => model.genero, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estado,"Estado:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="radiobutton-estado">
               | @Html.RadioButtonFor(model=>model.estado, "Soltero/a") Soltero/a  |
                @Html.RadioButtonFor(model => model.estado, "Casado/a") Casado/a  |
                @Html.RadioButtonFor(model => model.estado, "Viudo/a") Viudo/a  |
                @Html.RadioButtonFor(model => model.estado, "Union libre") Union Libre  |
                @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hobbies,"Hobbies:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="checkbox-hobbies">
               | @Html.CheckBox("hobbies[]", false, new { @value = "Programar" }) Programar  |
                @Html.CheckBox("hobbies[]", false, new { @value = "Escuchar Musica" }) Escuchar Musica  |
                @Html.CheckBox("hobbies[]", false, new { @value = "Videojuegos" }) Videojuegos  |
                @Html.CheckBox("hobbies[]", false, new { @value = "Escribir" }) Escribir  |
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("VOLVER ATRAS", "Index")
</div>
